<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ .Title }}</title>
    <meta name="description" content='{{ .Param "description" }}'>
    <meta http-equiv="content-language" content="{{ .Site.Language.Locale }}">

    <link rel="icon" href="/favicon.ico">

    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}

    {{- $manifest := resources.Get "manifest.json" | resources.ExecuteAsTemplate "manifest.json" . }}
    <link rel="manifest" href="{{ $manifest.RelPermalink }}">
    <link rel="icon" href="{{ .Site.Params.BookFavicon | default "favicon.png" | relURL }}" >
    <link rel="canonical" href="{{ .Permalink }}">

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/vendor/bootstrap-icons/font/bootstrap-icons.css">

    {{ $css := resources.Get "theme.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $css.Permalink }}">

    <link rel="stylesheet" href="/vendor/datatables/css/dataTables.bootstrap5.min.css">

    <!-- Custom site overrides -->
    <link rel="stylesheet" href="/css/custom.css">

    {{ if .Params.redirect_url }}
    <meta http-equiv="refresh" content="0;url={{ .Params.redirect_url }}">
    {{ end }}
</head>
